/* === USED FONTS === */

@font-face {
    font-family: "DevantProBold";
    src: url('../fonts/DevantPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: "DevantProMedium";
    src: url('../fonts/DevantPro-Medium.otf') format('opentype');
}

@font-face {
    font-family: "DevantProLight";
    src: url('../fonts/DevantPro-Light.otf') format('opentype');
}


